<h5><button {{action 'empty'}}>Empty list</button></h5>

{{#each favoritesList.questions as |question|}}
  <li>{{question.titleListView}} by {{question.author}}</li>
  <button class="button" {{action 'remove' question}}>X</button>
{{/each}}
