<h5><button class="dellist" {{action 'empty'}}>Delete list</button></h5>

{{#each favoritesList.questions as |question|}}
  <li>{{question.titleListView}} <br> by {{question.author}}</li>

  <button class="btn favbtn" {{action 'remove' question}}>X</button>
{{/each}}
