<h3>Add a an<swer/h3>

<form>
  <div class="form-group">
    <label for="name">Name</label>
    {{input value=name id="name"}}
  </div>
  <div class="form-group">
    <label for="an">Answer</label>
    {{input value=an id="an"}}
  </div>
  <button {{action 'saveAnswer'}}>Add a Answer</button>

</form>
