<h3>Add a answer</h3>

<form>
  <div class="form-group container">
    <label for="name">Name</label>
    {{input value=name id="name"}}
  </div>
  <div class="form-group">
    <label for="answer">Answer</label>
    {{input value=answer id="answer"}}
  </div>
  <div class="form-group">
    <label for="rating">Rate this question(1-5 stars)</label>
    {{input type="number" min="1" max="5" value=rating id="rating"}}
  </div>
  <button {{action 'saveAnswer'}}>Add a Answer</button>

</form>
