{{#link-to 'question' question.id}}
  <div class="list-block">
    <span class="category-container"><h5 class="category image-overlay-text">{{question.category}}</h5></span>
    <h3 class="list-view-title">{{question.titleListView}}</h3>
    <div class="by-line">
      <span class="author">{{question.author}}</span>
    </div>
  </div>
{{/link-to}}
