<div class="list-block container">

  {{#link-to 'question' question.id}}
      <h3 class="list-view-title">{{question.titleListView}}</h3>
  {{/link-to}}
  <div class="by-line">
    <span class="author">By: {{question.author}}</span>
    <br>
    <span class="category-container">Category: {{question.category}}</span>
    <br>
    <span class="category-container">Responses: {{sortedAnswers}}</span>
  </div>
</div>
