ul {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: ##cf0000;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50; /* Green */
    color: black;
}

.navigation {
	position: absolute;
  margin-top: -2%;
  padding-top: 3%;
	width:100%;
  background-color: white;
  margin-right: -3.5%;
  letter-spacing: 2px;
}

.img-logo {
  margin-bottom: 1%;
  margin-top: -3%;
}

.ask-logo {
  width: 600px;
  margin-left: 50%;
}

.counter {
  float: left;
  margin-left: 80%;
}

.admin-link {
  margin-right: 50%;
  padding-left: 50%;
}
