<div class="container page">
  <div>
		<header class="header">
			{{#link-to 'index'}}<img class="img-logo" src="http://i.imgur.com/nYnJ7R3.png">
      {{/link-to}}
			<nav role="navigation" class="navigation-mobile">
				{{#link-to 'admin'}}Admin{{/link-to}}
        {{#link-to 'favorite'}}<span class=""></span> Favorites List{{/link-to}}
			</nav>
		</header>
	</div>
  {{outlet}}
</div>
