<div class="container page">
  <div>
		<header class="header">
			{{#link-to 'index'}}<h2>Message Board, Baby!</h2>
      {{/link-to}}
			<nav role="navigation" class="navigation-mobile">
				{{#link-to 'admin'}}Admin{{/link-to}}
        {{#link-to 'favorite'}}<span class=""></span> Favorites List{{/link-to}}
			</nav>
		</header>
	</div>
  {{outlet}}
</div>
