<div class="page">
  <div class="container">
    <header class="header">
      {{#link-to 'index' class="logo"}}<h2>Check out your message Board, baby!</h2>
      <h3>An Epicodus Project</h3>{{/link-to}}
    </header>
  </div>
  {{outlet}}
  <footer>
  </footer>
</div>
