<div class="counter">
  {{#link-to 'admin' class="admin-link"}}Admin{{/link-to}}
  {{question-counter question-model}}
</div>
<div class="admin-link">
</div>
<div class="container page">
  <div>
		<header class="header">
			{{#link-to 'index'}}<img class="img-logo" src="http://i.imgur.com/nYnJ7R3.png">
      {{/link-to}}
			<nav role="navigation" class="navigation-mobile">
        {{#link-to 'favorite'}}Favorites List{{/link-to}}
			</nav>
		</header>
	</div>
  {{outlet}}
</div>
<footer class="footer">
  <img class="ask-logo" src="http://i.imgur.com/Szk3bft.png">
</footer>
