<div class="counter">
  {{#link-to 'admin' class="admin-link"}}Admin{{/link-to}}
  {{#link-to 'favorite'}}{{question-counter question-model}}{{/link-to}}
</div>
<div class="admin-link">
</div>
<div class="container page-wrap">
  <div>
		<header class="header">
			{{#link-to 'index'}}<img class="img-logo" src="http://i.imgur.com/nYnJ7R3.png">
      {{/link-to}}
			<nav role="navigation" class="navigation-mobile">
			</nav>
		</header>
	</div>
  <div class="outlet-wrap">
    {{outlet}}
  </div>
  <footer class="footer">
    <img class="ask-logo" src="http://i.imgur.com/Szk3bft.png">
  </footer>
</div>
