<div class="counter">
  {{#link-to 'admin' class="glyphicon glyphicon-user admin-link"}} <span class="font-fam">Admin</span>{{/link-to}}
  {{#link-to 'favorite'}}{{question-counter question-model}}{{/link-to}}
</div>

<div class="container page-wrap">
  <div>
		<header class="header">
			{{#link-to 'index'}}<img class="img-logo" src="http://i.imgur.com/nYnJ7R3.png">
      {{/link-to}}
			<nav role="navigation" class="navigation-mobile">
			</nav>
		</header>
	</div>
  <div class="outlet-wrap">
    {{outlet}}
  </div>
  <footer class="footer">
    <p class="copyr"> &copy; 2016 Sam Park </p>
    <a href="https://github.com/maskrap/ember-message-board"><img class="github" src="http://i.imgur.com/rqh2nmT.png"></a>
    <img class="ask-logo" src="http://i.imgur.com/zj3Rc4H.png">
  </footer>
</div>
