<div class="container">
  <div class="row">
    <div class="col-sm-6">
      {{favorite-tile questions=model}}
    </div>
    <div class="">
      {{#link-to 'favorite'}}<h3>Favorites List</h3>{{/link-to}}
      <h4>{{display-list}}</h4>
    </div>
  </div>
</div>
