<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      {{store-tile questions=model}}
    </div>
    <div class="col-sm-4">
      {{#link-to 'favorite'}}<h3>Favorites List</h3>{{/link-to}}
      {{display-cart}}
    </div>
  </div>
</div>
