<div class="wrapper container">
  {{new-question save="save"}}
  <div class="question-hold">
    <h3>Asked Questions:</h3>
    {{#each model as |question|}}
      {{question-tile question=question}}
      <hr>
    {{/each}}
  </div>
</div>
